In [1]:
import pandas as pd
from pandas import read_excel
from pandas.plotting import scatter_matrix
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import pearsonr
from sklearn import linear_model
Test = 'Test_Data.xlsx'
Training = 'Training_Data.xlsx'

#Test Data uses 20% of 9568 = 1913 (First 1913 data used)
#Coose data set below
file_name = Test 
df = pd.read_excel(file_name)

In [2]:
#Mean of data
data_mean = df.mean()
print(data_mean)

AT      19.802343
V       54.492171
AP    1013.158222
RH      73.150910
PE     453.921412
dtype: float64

In [3]:
#Median of Data
data_median = df.median()
print(data_median)

AT      20.435
V       52.300
AP    1012.870
RH      75.010
PE     451.250
dtype: float64

In [4]:
#Mode of Data
data_mode = df.mode()
print(data_mode)

AT      V       AP      RH      PE
0  11.44  45.01  1010.48   67.32  435.21
1  19.65    NaN  1013.24   69.14  472.90
2    NaN    NaN  1013.88   74.64     NaN
3    NaN    NaN      NaN   75.85     NaN
4    NaN    NaN      NaN   78.60     NaN
5    NaN    NaN      NaN   80.79     NaN
6    NaN    NaN      NaN   86.05     NaN
7    NaN    NaN      NaN   87.68     NaN
8    NaN    NaN      NaN   91.14     NaN
9    NaN    NaN      NaN  100.09     NaN

In [5]:
#Minimum of Data
data_min = df.min()
print(data_min)

AT      1.81
V      25.36
AP    996.35
RH     25.89
PE    425.21
dtype: float64

In [6]:
#Maximum of Data
data_max = df.max()
print(data_max)

AT      35.56
V       80.18
AP    1033.30
RH     100.15
PE     494.87
dtype: float64

In [7]:
#Varaince of Data
data_var = df.var()
print(data_var)

AT     54.606445
V     160.519334
AP     33.884203
RH    223.488724
PE    282.583065
dtype: float64

In [8]:
#Standard Diviation of Data
data_std = df.std()
print(data_std)

AT     7.389617
V     12.669622
AP     5.821014
RH    14.949539
PE    16.810207
dtype: float64

In [9]:
#Basically Everything above in one code
data_des = df.describe()
print(data_des)

AT            V           AP           RH           PE
count  1912.000000  1912.000000  1912.000000  1912.000000  1912.000000
mean     19.802343    54.492171  1013.158222    73.150910   453.921412
std       7.389617    12.669622     5.821014    14.949539    16.810207
min       1.810000    25.360000   996.350000    25.890000   425.210000
25%      13.735000    41.790000  1009.010000    62.897500   439.422500
50%      20.435000    52.300000  1012.870000    75.010000   451.250000
75%      25.765000    66.540000  1016.922500    85.042500   467.510000
max      35.560000    80.180000  1033.300000   100.150000   494.870000